body, #container, header {
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
}

header {
  position: fixed;
  display: block;
  background-color: #FF7055;
  width: 100%;
  height: 100px;
}

h1,h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: 800;
  display: inline-block;
  text-align: center;
  color: white;
  padding: 5px 20px;
}

#board {
  position: relative;
  margin:  150px auto 0;
  width: 600px;
  height: 600px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 150px;
}

.square {
  position: relative;
  display: inline-block;
  width: 197px;
  height: 197px;
  background-color: white;
  float: left;
  text-align: center;
  cursor: pointer;
}

.playerID{
  display: block;
  position: relative;
  left: 25%;
  margin: auto;
  top: 100px;
}

#box2 {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#box4 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#box5 {
  border: 1px solid black;
}
#box6 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#box8 {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.message-container{
  display: none;
  width:500px;
  height: 450px;
  background-color: rgb(212, 219, 221);
}

.message{
  display: block;
  position: absolute;
  left: 25%;
  margin: auto;
  top: 100px;
  width: 350px;
  height: 200px;
  background-color: rgba(255,255,255,.98);
  box-shadow: 6px 6px 2px 1px rgba(100, 100, 100, .2);
  border: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: 15px;
}

#message-alert{
  display: block;
  font-size: 45px;
  color: tomato;
}

.buttonreg {
    color: #202129;
    background-color: #f2f2f2;
    width: 120px;
    height: 45px;
    top: -40px;
    left: 23px;
    display: inline;
    position: relative;
    border-radius: 15px;
    margin: 25px 15px;
    float: left;
    cursor: pointer;
}
/*@keyframes spin {*/
    /*from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}*/
